html {
    background-color: rgb(34, 5, 62);
    font-family: Poppins, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

h1 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

#login1 {
    background-color: rgb(70, 27, 110);

    border-radius: 5px;
    margin: 2%;
    text-align: center;
}

@media screen and (min-width: 500px) {
    html {
        background-color: white;

    }

    #login1 {
        background-color: rgb(70, 27, 110);
    
        border-radius: 5px;
        margin: 10%;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    html {
        background-color: red;

    }

    #login1 {
        background-color: rgb(70, 27, 110);
    
        border-radius: 5px;
        margin: 10%;
        text-align: center;
    }
}